# ----------------------------------------------------------------------------
# Printed Eject Buttons ------------------------------------------------------
# ----------------------------------------------------------------------------
[gcode_button mmu_eject_button_0]
pin: ^mmu0:EJECT_BUTTON
press_gcode: _MMU_EJECT_BUTTON GATE=0

[gcode_button mmu_eject_button_1]
pin: ^mmu1:EJECT_BUTTON
press_gcode: _MMU_EJECT_BUTTON GATE=1

# ----------------------------------------------------------------------------
# PCB LED Eject Buttons. Notice the (!) in the pin definition! ---------------
# ----------------------------------------------------------------------------
[gcode_button mmu_eject_button_0]
pin: ^!mmu0:EJECT_BUTTON
press_gcode: _MMU_EJECT_BUTTON GATE=0

[gcode_button mmu_eject_button_1]
pin: ^!mmu1:EJECT_BUTTON
press_gcode: _MMU_EJECT_BUTTON GATE=1