# ----------------------------------------------------------------------------
# MMU Hardware config file ---------------------------------------------------
# ----------------------------------------------------------------------------
[mmu_machine]
num_gates: 2			
mmu_vendor: EMU			
mmu_version: 1.0			

selector_type: VirtualSelector
variable_bowden_lengths: 1		
variable_rotation_distances: 1		
require_bowden_move: 1		
filament_always_gripped: 1	
has_bypass: 1 

# Add your temperature and humidity sensors here for them to be visible in mainsail. One line per lane.
# Supported in HH vesion 3.42 and above.
environment_sensors: temperature_sensor Lane_0, 
                     temperature_sensor Lane_1

# ----------------------------------------------------------------------------
# Stepper definitions --------------------------------------------------------
# ----------------------------------------------------------------------------
# Lane 0 --------------------------
[tmc2209 stepper_mmu_gear]
uart_pin: mmu0:MMU_GEAR_UART
run_current: 0.8		
hold_current: 0.10
interpolate: True
sense_resistor: 0.110	
stealthchop_threshold: 0		

[stepper_mmu_gear]
step_pin: mmu0:MMU_GEAR_STEP
dir_pin: mmu0:MMU_GEAR_DIR
enable_pin: !mmu0:MMU_GEAR_ENABLE
rotation_distance: 22.7574		
gear_ratio: 1:1			
microsteps: 4				
full_steps_per_rotation: 200		

# Lane 1 --------------------------
[tmc2209 stepper_mmu_gear_1]
uart_pin: mmu1:MMU_GEAR_UART

[stepper_mmu_gear_1]
step_pin: mmu1:MMU_GEAR_STEP
dir_pin: mmu1:MMU_GEAR_DIR
enable_pin: !mmu1:MMU_GEAR_ENABLE


# ----------------------------------------------------------------------------
# Sensors definitions --------------------------------------------------------
# ----------------------------------------------------------------------------

[mmu_sensors]
pre_gate_switch_pin_0: ^mmu0:MMU_PRE_GATE
pre_gate_switch_pin_1: ^mmu1:MMU_PRE_GATE

post_gear_switch_pin_0: ^mmu0:MMU_POST_GEAR
post_gear_switch_pin_1: ^mmu1:MMU_POST_GEAR

# if you have a toolhead sensors, uncomment and insert the definitions here
extruder_switch_pin: ^toolhead:PB6
toolhead_switch_pin: ^toolhead:PB5

# Section below if using the dual switch version of the EMU Sync. Uncomment the below
# sync_feedback_tension_pin: ^mmu0:MMU_TENSION         # Compression is when you pull the bowden tubes (entry/exit) away from each other. Tension when you push the tubes together.
# sync_feedback_compression_pin: ^mmu0:MMU_COMPRESSION

# Section below if using the Proportional (PSF) version of the EMU Sync.
# Comment out/delete the dual switch section above and uncomment the section below to use.
# Dont forget to run the calibration routine (MMU_CALIBRATE_PSENSOR) and
# update the sync_feedback_analog_max_compression, sync_feedback_analog_max_tension and sync_feedback_analog_neutral_point accordingly.

sync_feedback_analog_pin: mmu0:MMU_TH
sync_feedback_analog_max_compression: 0.9932
sync_feedback_analog_max_tension:     0.0083
sync_feedback_analog_neutral_point:   0.5107


# MMU OPTIONAL NEOPIXEL LED SUPPORT ------------------------------------------------------------------------------------

[neopixel _mmu0_leds] # one block per lane (Lane 0)
pin: mmu0:MMU_NEOPIXEL
chain_count: 5			# four for the eject button and one for the box
color_order: GRBW		

[neopixel _mmu1_leds] # one block per lane (Lane 1)
pin: mmu1:MMU_NEOPIXEL
chain_count: 5			# four for the eject button and one for the box
color_order: GRBW	


# MMU LED EFFECT SEGMENTS ----------------------------------------------------------------------------------------------

[mmu_leds unit0]
exit_leds:
  neopixel:_mmu0_leds (1,2,3,4) # add/remove lines to match number of lanes. LED 1-4 is for the button
  neopixel:_mmu1_leds (1,2,3,4)

entry_leds:
  neopixel:_mmu0_leds (5) # add/remove lines to match number of lanes. LED 5 is for the box
  neopixel:_mmu1_leds (5)

frame_rate: 15


enabled: True                           # True = LEDs are enabled at startup (MMU_LED can control), False = Disabled
animation: True                         # True = Use led-animation-effects, False = Static LEDs
exit_effect: gate_status                #    off|gate_status|filament_color|slicer_color|r,g,b|_effect_
entry_effect: filament_color            #    off|gate_status|filament_color|slicer_color|r,g,b|_effect_
status_effect: off                      # on|off|gate_status|filament_color|slicer_color|r,g,b|_effect_
logo_effect: (0, 0, 0)                  #    off                                        |r,g,b|_effect_
white_light: (1, 1, 1)                  # RGB color for static white light
black_light: (1, 1, 1)                  # RGB color used to represent "black" (filament)
empty_light: (0.0, 0.0, 0.0)                  # RGB color used to represent empty gate


effect_loading:            mmu_clockwise_fast, (0, 0, 0.4)
effect_loading_extruder:   mmu_clockwise_slow, (0, 0, 1)
effect_unloading:          mmu_anticlock_fast, (0, 0, 0.4)
effect_unloading_extruder: mmu_anticlock_slow, (0, 0, 1)
effect_heating:            mmu_breathing_red,       (0.3, 0, 0)
effect_selecting:          mmu_white_fast,          (0.2, 0.2, 0.2)
effect_checking:           mmu_white_fast,          (0.8, 0.8, 0.8)
effect_initialized:        mmu_rainbow,             (0.5, 0.2, 0)
effect_error:              mmu_strobe,              (1, 0, 0)
effect_complete:           mmu_sparkle,             (0.3, 0.3, 0.3)
effect_gate_selected:      mmu_static_blue,         (0, 0, 1)
effect_gate_available:     mmu_static_white_dim,    (0.3, 0.3, 0.3)
effect_gate_available_sel: mmu_static_white,        (0.75, 0.75, 0.75)
effect_gate_unknown:       mmu_static_orange,       (0.5, 0.2, 0)
effect_gate_unknown_sel:   mmu_ready_orange ,       (0.75, 0.3, 0)
effect_gate_empty:         mmu_static_black,        (0, 0, 0)
effect_gate_empty_sel:     mmu_static_red,           (0.2, 0, 0)