
## based on https://github.com/jontek2/A-better-print_start-macro
[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  
  UPDATE_DELAYED_GCODE ID=SWITCH_OFF_NEVERMORE_DELAYED DURATION=0            # Just in case last print was <10 min and nevermore is still on, disable delayed switch off
  SET_FAN_SPEED FAN=nevermore_fan SPEED=1             # Turn on the nevermore

  ##  Uncomment for Beacon Contact (1 of 4 for beacon contact)
  SET_GCODE_OFFSET Z=0                                 # Set offset to 0

  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  STATUS_HOMING                                         # Set LEDs to homing-mode
  _CG28 #home if not already homed
  
  G90                                                   # Absolute position

  ##  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    STATUS_HEATING                                      # Set LEDs to heating-mode
    #M106 S255                                           # Turn on the PT-fan

    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Display info on display
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber temp

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak

  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    STATUS_HEATING                                      # Set LEDs to heating-mode
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    # to be changed to check chamber temp -> manually 
    #SET_DISPLAY_TEXT MSG="Soak for 5 min"               # Display info on display
    #G4 P300000                                          # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  SET_DISPLAY_TEXT MSG="Hotend: 150c"                   # Display info on display
  M109 S145                                             # Heat hotend to 145c

  ##  Uncomment for V2.4 (Quad gantry level AKA QGL)
  SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on display
  STATUS_LEVELING                                      # Set LEDs to leveling-mode
  QUAD_GANTRY_LEVEL                                    # Level the printer via QGL
  G28 Z                                                # Home Z again after QGL

  ##  Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Bed mesh"                      # Display info on display
  STATUS_MESHING                                       # Set LEDs to bed mesh-mode
  BED_MESH_CALIBRATE ADAPTIVE=1                        # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  CLEAN_NOZZLE                                         #Clean Nozzle before Calibrate Z

  #move quickly to Calibrate Z location
  G1 Z10 F8000
  G1 X150 Y150 F8000

  STATUS_CALIBRATING_Z
  CARTOGRAPHER_TOUCH                                   # Calibrate z offset only with hot nozzle

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Display info on display
  STATUS_HEATING                                        # Set LEDs to heating-mode
  G1 X20 Y4 Z5 F9000                      # Go start Primeline
  #M107                                                 # Turn off partcooling fan
  M109 S{target_extruder}                               # Heat the hotend to set temp

  ##   Uncomment for Beacon Contact (4 of 4 for beacon contact)
  SET_GCODE_OFFSET Z=0.1                                # Add a little offset for hotend thermal expansion

  # Get ready to print by doing a primeline and updating the LEDs
  SET_DISPLAY_TEXT MSG="Printer goes brr"               # Display info on display
  STATUS_PRINTING                                       # Set LEDs to printing-mode
  #G0 X20 Y4 F10000                                      # Go to starting point
  G0 Z0.4                                               # Raise Z to 0.4
  G91                                                   # Incremental position
  G1 X100 E23 F1000                                     # Primeline
  G90                                                   # Absolute position


[gcode_macro PRINT_END]
gcode:
    #PARK
    G91
    G1 Z15 F8000
    G90
    G1 X150 Y280 F8000
    G92 E0
    G1 E-10 F2100
    TURN_OFF_HEATERS
    BED_MESH_CLEAR
    UPDATE_DELAYED_GCODE ID=SWITCH_OFF_NEVERMORE_DELAYED DURATION=600
    STATUS_OFF


[delayed_gcode SWITCH_OFF_NEVERMORE_DELAYED]
gcode:
    SET_FAN_SPEED FAN=nevermore_fan SPEED=0
#   A list of G-Code commands to execute when the delay duration has
#   elapsed. G-Code templates are supported. This parameter must be
#   provided.
initial_duration: 600
#   The duration of the initial delay (in seconds). If set to a
#   non-zero value the delayed_gcode will execute the specified number
#   of seconds after the printer enters the "ready" state. This can be
#   useful for initialization procedures or a repeating delayed_gcode.
#   If set to 0 the delayed_gcode will not execute on startup.
#   Default is 0.


#[gcode_macro BED_MESH_CALIBRATE]
#rename_existing: _BED_MESH_CALIBRATE
#gcode:
#    {% set TARGET_TEMP = printer.heater_bed.target %}
#    M140 S0
#    _BED_MESH_CALIBRATE {rawparams}
#    M140 S{TARGET_TEMP}

[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}
    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}



[gcode_macro PRIME_PELLET]
gcode:
    # prime   
    STATUS_CLEANING
    _CG28 #home if not already homed
    _CQGL #QGL if not already QGL
    
    {% set EXTRUDER_TEMP = printer["gcode_macro START_PRINT"].extruder_temp %}
    
    M106 S255                      ;partcooling fan max
    #PRIME_PELLET_KICK              ;call clean macro
    G1  X20 Y5 F15000               ;move to purge position
    G1  Z0.5 F3000                 ;move to purge position
    G91                            ;incremental positioning
    #G1  Z0.2 E30 F3                ;prime hotend
    G1  Z2.0 E25 F30               ;purge and move up
    G1  Z4.0 E20 F60               ;purge and move up
    G1  Z2.0 E10 F240              ;purge and move up
    G1  Z10 F3000                  ;move up by 10
    G1  Y55 Z-18.25 F3000          ;move to wiping start
    G1  Y10 F3000                  ;wipe back
    G1  Y-10 F3000                 ;wipe forth
    G1  Y10 F3000                  ;wipe back
    G1  Y-10 F3000                 ;wipe forth
    G1  Y-55 F3000                 ;wipe end and kick off the poop pellet
    M107                           ;turn cooling fan off
    G1  Z2.0  F3000                ;move up
    G1  Y55   F7000                ;move from pellet bin quickly!
    M82                            ;extruder absolute
    G92 E0.0                       ;extruder reset
    G90                            ;absolute positioning    


[gcode_macro PRIME_PELLET_KICK]
gcode:
    # ----- CLEAN
    _CG28 #home if not already homed
    _CQGL #QGL if not already QGL
    
    M204 S6000                     ;set acceleration to 6000
    G1 X20 Y35 F15000               ;move to position
    G1 Z0.5 F3000                  ;move to position
    G1 Y1 F10000                   ;kick the prime tower off

[gcode_macro PARK_SWITCH_OFF]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
      #not homed -> dont move!
    {% else %}
          G0 X150 Y90 Z25 # move to center bed park position (minimum sag of gantry)
          #turn off heating
          TURN_OFF_HEATERS
          STATUS_OFF
          ##turn off motors
          M84
    {% endif %}

[gcode_macro CUSTOM_BACKLASH]
description: DO BACKLASH COMP for all positions
gcode:
    _CG28 #home if not already homed
    _CQGL #QGL if not alreay QGL
    
    G1 Z10

    RESPOND MSG="Front left"
    G1 X20 Y5 F10000
    CARTOGRAPHER_ESTIMATE_BACKLASH

    RESPOND MSG="Back left"
    G1 Z5
    G1 X20 Y250 F10000
    CARTOGRAPHER_ESTIMATE_BACKLASH

    RESPOND MSG="Back right"
    G1 Z5
    G1 X275 Y250 F10000
    CARTOGRAPHER_ESTIMATE_BACKLASH

    RESPOND MSG="Front right"
    G1 Z5
    G1 X275 Y5 F10000
    CARTOGRAPHER_ESTIMATE_BACKLASH

    RESPOND MSG="Center"
    G1 Z5
    G1 X150 Y150 F10000
    CARTOGRAPHER_ESTIMATE_BACKLASH

[gcode_macro PURGE_LOCATION]
description: Purge location and get ready to purge
gcode:
    _CG28 #home if not already homed
    _CQGL #QGL if not already QGL
    M104 S230
    # Move to purge zone (left side)
    G90
    G1 Z20
    #Move over Purge Bucket
    G1 X35 Y303 F6000
    G1 Z3
    M109 S230


[gcode_macro CHANGE_TO_DARK]
description: Purge BRIGHT to DARK color - 75mm
gcode:
    _CG28 #home if not already homed
    _CQGL #QGL if not already QGL
    #apply addtional offset due to hot nozzle
    SET_GCODE_OFFSET Z=0.1 
    M104 S230
    M106 S255
    # Move to purge zone (left side)
    G90
    G1 Z20
    #Move over Purge Bucket
    G1 X35 Y305 F6000
    G1 Z3
    M109 S230
    G1 E50 F300
    G1 E25 F300
    G1 E-5 F300
    G90 E0
    M104 S0
    CLEAN_NOZZLE
    G1 Z35 X35 Y303 F6000
    M106 S0

[gcode_macro CHANGE_TO_BRIGHT]
description: Purge BRIGHT to DARK color - 125mm
gcode:
    _CG28 #home if not already homed
    _CQGL #QGL if not already QGL
    #apply addtional offset due to hot nozzle
    SET_GCODE_OFFSET Z=0.1 
    M104 S230
    M106 S255
    # Move to purge zone (left side)
    G90
    G1 Z20
    #Move over Purge Bucket
    G1 X35 Y305 F6000
    G1 Z3
    M109 S230
    G1 E50 F300
    G1 E50 F300
    G1 E25 F300
    G1 E-5 F300
    G90 E0
    M104 S0
    CLEAN_NOZZLE
    G1 Z35 X35 Y303 F6000
    M106 S0

[gcode_macro CLEAN_NOZZLE]
description: Wipe the nozzle on the brush
gcode:
    STATUS_CLEANING

    _CG28 #home if not already homed
    _CQGL #QGL if not already QGL

    {% set brush_clean_accel = 1500 %}
    {% set brush_over_y_axis = True %}
    {% set brush_size = 35 %}
    {% set brushes = 6 %}
   
    {% set St = 300 * 60 %}
    {% set Sz = 15 * 60 %}
    {% set Sc = 100 * 60 %}

    {% set Bx = 75 %}
    {% set By = 304 %}
    {% set Bz = 1.5 %}


    # Set the cleaning acceleration prior to any movement
    {% set saved_accel = printer.toolhead.max_accel %}
    SET_VELOCITY_LIMIT ACCEL={brush_clean_accel}

    # Move to purge zone (left side)
    G90

    #Move over Purge Bucket
    G1 X30 Y303 F6000
    
    # Move to center of the brush
    G1 X{Bx} Y{By} F{St}
    G1 Z{Bz} F{St}
    # Wipe procedure
    G91
    {% if brush_over_y_axis %}
        {% for wipe in range(brushes) %}
            G1 Y-5 F{Sc}
            G1 Y+5 F{Sc}
        {% endfor %}
    {% endif %}

    # Move to the right side of the brush
    G1 X+{ (brush_size/2)} F{Sc}
  
    # Brush procedure
    {% for wipe in range(brushes) %}
        G1 X-{ (brush_size) } F{Sc}
        G1 X+{ (brush_size) } F{Sc}
    {% endfor %}

    G90

    # Reset acceleration values to what it was before
    SET_VELOCITY_LIMIT ACCEL={saved_accel}

    #Move away from brush
    G0 X112 Z3 F6000


[gcode_macro M600]
gcode:
    PAUSE


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set z = params.Z|default(10)|int %}                                                   ; z hop amount

    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                              ; set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}    ; set hotend temp variable for reference in resume macro

        #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0                                  ; disable filament sensor
        SAVE_GCODE_STATE NAME=PAUSE                                                          ; save current print position for resume
        BASE_PAUSE                                                                           ; pause print
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       ; check that zhop doesn't exceed z max
            G91                                                                              ; relative positioning
            G1 Z{z} F900                                                                     ; raise Z up by z hop amount
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }                  ; if z max is exceeded, show message and set zhop value for resume to 0
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90                                                                                  ; absolute positioning
        G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} F6000   ; park toolhead at front center
        SAVE_GCODE_STATE NAME=PAUSEPARK                                                      ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error)
        #M104 S0                                                                              ; turn off hotend
        SET_IDLE_TIMEOUT TIMEOUT=43200                                                       ; set timeout to 12 hours
    {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    {% set e = params.E|default(2.5)|int %}                                          ; hotend prime amount (in mm)

    {% if printer['pause_resume'].is_paused|int == 1 %}
        #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1                          ; enable filament sensor
        #INITIAL_RGB                                                                    ; reset LCD color
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}  ; set timeout back to configured value
        {% if etemp > 0 %}
            M109 S{etemp|int}                                                        ; wait for hotend to heat back up
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
        G91                                                                          ; relative positioning
        M83                                                                          ; relative extruder positioning
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900                                                ; prime nozzle by E, lower Z back down
        {% else %}
            G1 Z{zhop * -1} F900                                                     ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60                          ; restore position
        BASE_RESUME                                                                  ; resume print
    {% endif %}

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    #SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT


[gcode_macro _CQGL]
gcode:
    {% if printer.quad_gantry_level.applied == False %}
        {% if "xyz" not in printer.toolhead.homed_axes %}
            G28 ; home if not already homed
        {% endif %}
        QUAD_GANTRY_LEVEL
        G28 Z
    {% endif %}

[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28 ; home if not already homed
    {% endif %}


[gcode_macro _SERVICE_POSITION]
gcode:
    _CG28
    G90
    G1 X150 Y25 Z118