[gcode_macro _GD_PARK_MACRO]
gcode:
  _CG28 # home if not already homed
  _CQGL # QGL if not already QGL
  SAVE_GCODE_STATE NAME=_GD_PARK_STATE
  G90

  {% set restore = params.RESTORE|default("0")|int %}
  {% set x = params.X|default("150")|float %}
  {% set y = params.Y|default("150")|float %}
  {% set z = params.Z|default("150")|float %}
  {% set f = params.F|default("27000")|int %}

  {% set cur_x = printer.gcode_move.gcode_position.x|float %}
  {% set cur_y = printer.gcode_move.gcode_position.y|float %}
  {% set cur_z = printer.gcode_move.gcode_position.z|float %}

  

  #Z-Hop first
  G91
  G1 Zz
  G90

  #ensure min Z hight
  {% if cur_z < 0.9 %}
    G1 Z1
  {% endif %}

  {% if (cur_x - x)|abs < 0.25 and (cur_y - y)|abs < 0.25 %}

    # Already at requested position - nothing to do.

  {% else %}
      {% if cur_x <= 50 %}
        G1 X125 F{f}
		G1 Y305
      {% elseif %}
         
      {% endif %}


     

        # Move to target Y first while safely at X>=4.
        G1 Y{y} F{f}

        # Do not enter X<=3.
        G1 X4 F{f}

      {% else %}

        # Direct move
        G1 Y{y} F{f}
        G1 X{x} F{f}

      {% endif %}

    {% endif %}

  {% endif %}

  RESTORE_GCODE_STATE NAME=_GD_PARK_STATE MOVE=0
